<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingxinsaas.system.mapper.SysTenantMapper">

    <resultMap type="SysTenant" id="SysTenantResult">
        <result property="tenantId"    column="tenant_id"    />
        <result property="tenantName"    column="tenant_name"    />
        <result property="datasourceId"    column="datasource_id"    />
        <result property="domainName"    column="domain_name"    />
        <result property="logo"    column="logo"    />
        <result property="contactName"    column="contact_name"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="packageId"    column="package_id"    />
        <result property="expireTime"    column="expire_time"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="parentId"    column="parent_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysTenantVo">
        select tenant_id, tenant_name, datasource_id, domain_name, logo, contact_name, contact_phone, package_id, expire_time, status, del_flag, parent_id, create_by, create_time, update_by, update_time, remark from sys_tenant
    </sql>

    <select id="selectSysTenantList" parameterType="SysTenant" resultMap="SysTenantResult">
        <include refid="selectSysTenantVo"/>
        <where>
            <if test="tenantName != null  and tenantName != ''"> and tenant_name like concat('%', #{tenantName}, '%')</if>
            <if test="contactName != null  and contactName != ''"> and contact_name like concat('%', #{contactName}, '%')</if>
        </where>
    </select>

    <select id="selectSysTenantByTenantId" parameterType="Long" resultMap="SysTenantResult">
        <include refid="selectSysTenantVo"/>
        where tenant_id = #{tenantId}
    </select>

    <select id="selectSysTenantByDomainName" parameterType="String" resultMap="SysTenantResult">
        <include refid="selectSysTenantVo"/>
        where domain_name = #{domainName}
    </select>

    <insert id="insertSysTenant" parameterType="SysTenant" useGeneratedKeys="true" keyProperty="tenantId">
        insert into sys_tenant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenantName != null and tenantName != ''">tenant_name,</if>
            <if test="datasourceId != null">datasource_id,</if>
            <if test="domainName != null">domain_name,</if>
            <if test="logo != null">logo,</if>
            <if test="contactName != null">contact_name,</if>
            <if test="contactPhone != null">contact_phone,</if>
            <if test="packageId != null">package_id,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenantName != null and tenantName != ''">#{tenantName},</if>
            <if test="datasourceId != null">#{datasourceId},</if>
            <if test="domainName != null">#{domainName},</if>
            <if test="logo != null">#{logo},</if>
            <if test="contactName != null">#{contactName},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
            <if test="packageId != null">#{packageId},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysTenant" parameterType="SysTenant">
        update sys_tenant
        <trim prefix="SET" suffixOverrides=",">
            <if test="tenantName != null and tenantName != ''">tenant_name = #{tenantName},</if>
            <if test="datasourceId != null">datasource_id = #{datasourceId},</if>
            <if test="domainName != null">domain_name = #{domainName},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="contactName != null">contact_name = #{contactName},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="packageId != null">package_id = #{packageId},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where tenant_id = #{tenantId}
    </update>

    <delete id="deleteSysTenantByTenantId" parameterType="Long">
        delete from sys_tenant where tenant_id = #{tenantId}
    </delete>

    <delete id="deleteSysTenantByTenantIds" parameterType="String">
        delete from sys_tenant where tenant_id in
        <foreach item="tenantId" collection="array" open="(" separator="," close=")">
            #{tenantId}
        </foreach>
    </delete>
</mapper>