<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingxinsaas.system.mapper.TenantMenuMapper">
    
    <resultMap type="com.qingxinsaas.system.domain.TenantMenu" id="TenantMenuResult">
        <result property="tenantId"    column="tenant_id"    />
        <result property="menuId"    column="menu_id"    />
    </resultMap>

    <select id="checkMenuExistTenant" resultType="Integer">
        select count(1) from sys_tenant_menu where menu_id = #{menuId}
    </select>

    <delete id="deleteRoleMenuByTenantId" parameterType="Long">
        delete from sys_tenant_menu where tenant_id=#{tenantId}
    </delete>

    <delete id="deleteTenantMenu" parameterType="Long">
        delete from sys_tenant_menu where tenant_id in
        <foreach collection="array" item="tenantId" open="(" separator="," close=")">
            #{tenantId}
        </foreach>
    </delete>

    <insert id="batchTenantMenu">
        insert into sys_tenant_menu(tenant_id, menu_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.tenantId},#{item.menuId})
        </foreach>
    </insert>

</mapper>